<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <textarea type="text" id="post-title" name="post-title" /></textarea>
    </div>
    <div>
      <label for="post-body">Body</label>
      <textarea id="post-body" name="post-body" /></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
<script src="/javascript/add-post.js"></script>